<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Create a repo-specific global packages folder for full security benefit -->
  <config>
    <add key="globalPackagesFolder" value="globalPackagesFolder" />
  </config>

  <!-- Declare package sources/feeds -->
  <packageSources>
    <!-- To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="heliosnugetrepo" value="https://heliosnugetrepo-375611915274.d.codeartifact.us-east-2.amazonaws.com/nuget/helios-common-lib/v3/index.json" />
  </packageSources>

</configuration>
