<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SYM_ENCRYPTION_KEY" value="yVOgU6MJruN1oNTuBxYX4rahJn5NPSs4AJ7e5w9+rTw=" />
    <add key="JwtSecret" value="ab4b0b8ff3da45cc8fbf4a25ff2c3157a649cefbfd4744a6ac4310dcbab23b6e" />
    <add key="JwtIssuer" value="https://www.benefitfocus.com/" />
    <add key="JwtExpirationTimeInMinutes" value="120" />
  </appSettings>
</configuration>